.title {
  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
