@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.blog-gallery-section {
  &-card {
    flex-basis: 0;
    flex-grow: 1;
  }
  margin: 0 0 3em;
  padding: 0 0 3em;
}

.blog {
  &-gallery {
    font-family: roboto;
    font-weight: 500;
    margin: 0 3em;
    &-section {
      margin: 0 0 1.5em;
      padding: 0 0 1.5em;
      justify-content: center;
      display: flex;
      flex-direction: row;
      &-container {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        gap: 2em;
      }

      &-card {
        transition: box-shadow 200ms;
        &:hover {
          box-shadow: rgba(99, 99, 99, 0.322) 0px 4px 12px 0px;
        }
        max-width: calc(50% - 1em - 3px);
        cursor: pointer;
        border: 1px solid white;
        line-height: 1.2;
        border-radius: 8px;
        *:not(img) {
          padding: 0 20px;
        }
        min-height: 200px;
        height: 400px;
        box-shadow: #63636333 0px 2px 8px 0px;
        img {
          // box-shadow: rgba(#1ecad3, 0.8) 0px 5px 0px;
          border-radius: 8px;
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        p,
        h2 {
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
        }
        p {
          line-height: 1;
          -webkit-line-clamp: 4;
          line-clamp: 4;
          font-weight: 300;
        }
        h2 {
          color: #1ecad3;
          // color: rgb(54, 54, 54);
          -webkit-line-clamp: 2;
          line-clamp: 2;
          font-weight: 400;
        }
      }
    }
  }
}

.blog-gallery-section-title {
  grid-area: til;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  width: 100%;
  align-items: flex-start;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
  margin-right: 1em;
  margin-left: -2em;
  h2 {
    border-bottom: 10px solid #1ecad3;
    font-size: 2em;
    text-transform: uppercase;
    color: #303030;
    text-align: center;
    margin: 0 10px;
  }
  &-pager-container {
    display: flex;
    flex-direction: row;
    margin: 1em 0 0;
    gap: 10px;
    button{
      background: none;
      border: none;
      font-size: 1.9em;
      transition: color 200ms, font-size 200ms;
      cursor: pointer;
      margin: 0;
      padding: 0;
      line-height: 0;
      color: rgb(185, 185, 185);
    }
    .active{
      color: #1ecad3;
      font-size: 1.95em;
    }
  }
}

@media screen and (max-width: 1200px) {
  .blog-gallery-section-title {
    min-width: 30vw;
    max-width: 30vw;
    width: 30vw;
  }
}

@media screen and (max-width: 886px) {
  .blog-gallery {
    margin: 1em;
  }
  .blog-gallery-section {
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    &-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card {
      min-width: 300px;
      width: 100%;
      max-width: unset;
    }
    &-title {
      margin: 0;
      min-width: 100%;
      max-width: 100%;
      margin-bottom: 2em;
      align-items: center;
    }
  }
}

.blog-gallery-section:not(.blog-gallery-section:last-child) {
  border-bottom: 5px solid #00000009;
}
